<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Default Suite">
  <test name="ui-koyvistoynen.ru">
    <classes>
      <class name="koyvistoynen.logon.HomeTest"/>
    </classes>
  </test> <!-- ui-koyvistoynen.ru -->
</suite> <!-- Default Suite -->
